@font-face {
  font-family: 'Domaine Sans';
  src: url('/fonts/DomaineSansText-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Domaine Sans';
  src: url('/fonts/DomaineSansText-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Domaine Sans';
  src: url('/fonts/DomaineSansText-Bold.otf') format('opentype');
  font-weight: 700;
}
